<!-- feed h-entry: https://microformats.org/wiki/h-entry -->
<li class="feed__li h-entry">
  <div class="feed__content">
      <a class="p-name" href="{{ .Permalink }}">{{ .Title }}</a>
      <p class="properties">{{ .Summary }}{{ if .Summary }}...{{ end }}</p>
      <div class="flex properties__row  properties">
        <div class="flex left properties">
        </div>
        <div class="flex right">
          {{ range (.GetTerms "tags") }}
          <a class="p-category properties" id="tag" href="{{ .Permalink }}">#{{.LinkTitle}}</a>
          {{ end }}
        </div>
      </div>
  </div>
</li>
